  // Window hash is
  // #<date>:<starttime>[-<endtime>]:<timezone>[,<timezone>...]
  // Where
  // <timezone> is like Europe/London or America/San_Francisco
  // <date> is 2022-01-23
  // All these three things specify some time to show.

  // Grid (7-18 = 11) or 1+24
  //   timezone span all or 1st col.
  //   item 

  let hours = [],
    selected = [],
    urlSelected = [],
    myZone = Intl.DateTimeFormat().resolvedOptions().timeZone,
    utcDateInputValue = (new Date()).toISOString().substr(0, 10),
    now = new Date(), // Holds the utc date.
    dateObjAtUtc = now,
    hashMatch = window.location.hash.match(/^#(\d+(?:,\d+)*)(?::([a-zA-Z_\/]+))(:\d{4}-\d{2}-\d{2})?$/),
    important = [],
    dateInBrowserTimeZone = '';

  $specified.hours = [9,10];

  if (hashMatch) {
    urlSelected = hashMatch[1].split(',').map(x => parseInt(x));
    myZone = hashMatch[2];
    if (hashMatch[3]) {
      utcDateInputValue = hashMatch[3].substr(1);
      console.log("using", utcDateInputValue);
    }
    console.log('xxx', {hashMatch});
  }
  console.log({urlSelected});

  // hours is simply an array of integers 0 to 23.
  for (let i=0;i<24;i++) {
    hours.push(i);
    selected.push(urlSelected.includes(i));
  }

  let hoveredHour = null;

  let zones = [];

  function hover(hour) {
    hoveredHour = hour;
  }

  function hoverNot() {
    hoveredHour = null;
  }

  function toggleSelected(hour) {
    selected[hour] = !selected[hour];
    updateLocation();
    // const selectedDays = new Map();
    // for (let i=0;i<24;i++) {
    //   if (selected[i]) {
    //      now.toLocaleString(undefined, {dateStyle: 'full'})}
    //     selectedDays.set()
    //   }
    // }
    // selected.forEach()
  }
  function setMyZone(timeZone) {
    myZone = timeZone;
    updateDate();
  }
  function updateLocation() {
    let selectedHours = [];
    for (let i=0;i<24;i++) {
      if (selected[i]) {
        selectedHours.push(i);
      }
    }
    window.location.hash = '#' + selectedHours.join(',') + ':' + myZone + ':' + utcDateInputValue;
  }
  function updateDate() {
    if (!utcDateInputValue) {
      // Reset to now.
      utcDateInputValue = (new Date()).toISOString().substr(0, 10);
    }
    console.log("utcDateInputValue", utcDateInputValue);
    now = new Date(utcDateInputValue);
    // Get 0 o'clock at UTC for 'now' (i.e. the specified now)
    dateObjAtUtc = new Date(Date.UTC(now.getUTCFullYear(), now.getUTCMonth(), now.getUTCDate(), 0, 0, 0));
    zones = [];
    /*
      {name: 'UTC / GMT', times: hours.map(h => ({
        time: `${h}`,
        day: 'x',
        date: 'y',
        different: false,
        yesterday: false,
        tomorrow: false,
      }))}
    ;
    */
    addZone('UTC / GMT', 'UTC');
    addZone('New Zealand', 'NZ');
    addZone('Australia, Melbourne', 'Australia/Melbourne');
    addZone('CET/CEST, Norway, France, Germany', 'Europe/Oslo');
    addZone('UK, Portugal', 'Europe/London');
    addZone('US Eastern Time, New York', 'America/New_York'); // US EST
    addZone('US Pacific Time, San Francisco', 'America/Los_Angeles'); // US PST

    updateLocation();
  }
  function addZone(name, timeZone) {
    // Need a date that is 00:01 at UTC for whatever 'today' is at UTC.
    // Q. when is today not UTC today?
    // A. when BST, 00:01 is UTC yesterday.

    let dateAtUTC = dateObjAtUtc.getUTCFullYear() + '-' + (dateObjAtUtc.getUTCMonth() + 1).toString().padStart(2, '0') + '-' + dateObjAtUtc.getUTCDate().toString().padStart(2, '0'),
      dayAtUTC = dateObjAtUtc.toLocaleDateString('UTC', { weekday: 'short', timeZone: 'UTC' }),
      lastDayOfMonthInOtherZone = '',
      days = []
    ;

    const zone = {name, timeZone, times:hours.map(h => {
      dateObjAtUtc.setUTCHours(h);
      // What is the hour now?
      let hourInOtherZone = (dateObjAtUtc.toLocaleTimeString('en-GB', {timeZone}).substr(0, 5)).replace(/:00$/, '').replace(/^0/, ''),
        hourInOtherZoneInt = parseFloat(hourInOtherZone.replace(':', '.'));
      // What is the date in the other zone?
      let dayOfMonthInOtherZone = parseInt(dateObjAtUtc.toLocaleDateString('en-GB', {timeZone}).substr(0, 2));
      let dayOfMonthInOtherZonePadded = dayOfMonthInOtherZone.toString().padStart(2, '0');
      let numericMonthInOtherZone = dateObjAtUtc.toLocaleDateString('en-GB', {timeZone, month: 'numeric'}).padStart(2, '0');
      let yearInOtherZone = dateObjAtUtc.toLocaleDateString('en-GB', {timeZone, year: 'numeric'});
      let dateInOtherZone = `${yearInOtherZone}-${numericMonthInOtherZone}-${dayOfMonthInOtherZonePadded}`;
      let dayInOtherZone = dateObjAtUtc.toLocaleDateString('en-GB', {weekday: 'short', timeZone});
      let weekendInOtherZone = 'S' === dayInOtherZone.substr(0, 1);

      let antisocial = (hourInOtherZoneInt < 8 || hourInOtherZoneInt > 18 || weekendInOtherZone );
      let x = {
        time: hourInOtherZone,
        different: (lastDayOfMonthInOtherZone && dayOfMonthInOtherZone !== lastDayOfMonthInOtherZone),
        yesterday: (dateInOtherZone < dateAtUTC),
        tomorrow: (dateInOtherZone > dateAtUTC),
        day: dayInOtherZone,
        date: dayOfMonthInOtherZone,
        weekendInOtherZone,
        antisocial,
        endsofworkinghours: ([6, 7, 8, 18, 19, 20].indexOf(hourInOtherZoneInt) > -1),
        dateInOtherZone,
        dateAtUTC,
        timeZone,
        dateObjAtUtc,
      };
      if (x.timeZone === 'NZ') console.log(x);

      lastDayOfMonthInOtherZone = dayOfMonthInOtherZone;
      return x;
    })};
    zones.push(zone);
    if (myZone === timeZone) {
      important = zone.times.map(x => x.antisocial);
    }
  }

  updateDate();

</script>

<style lang=scss>
  :root {
    --primary-text: #1577d9;
  }

  .timezone-app {
    margin: 0.5rem auto;
    padding: 0.5rem;
    background: white;
    font-family: Lato, sans-serif;
    box-sizing: border-box;

    h1 { flex: 0 0 100%;}
  }

  h1 {
    margin: 0 0 1rem;
    text-align: center;
    font-family: Lato, sans-serif;
    font-weight: normal;
    font-size: 2rem;
    color: var(--primary-text);
  }
  table.timezones {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 0.5rem;

    td, th {
      vertical-align: middle;
    }
  }

  tr.default-zone {
    font-weight: bold;
    color: hsl(200, 100%, 30%);
  }

  th.zone-name {
    text-align: left;
  }
  td.time {
    vertical-align: top;
    text-align: center;
    cursor: pointer;
    display: block;
  }
  td.new-day {
      // border-left:solid 2px hsl(34, 63.8%, 79.4%);;
      text-transform: uppercase;
  }
  td.yesterday {
    background: #f4e7e7;
  }
  td.tomorrow {
    background: #e7eee7;
  }
  td.antisocial {
    color: #c8c8c8;
  }
  tr.default-zone td.antisocial {
    color: hsl(200deg, 81%, 80%);
  }
  td.hover {
    background: #eee;
  }
  td.selected {
    background: hsl(202.3, 100%, 86.3%);
    &.antisocial { background: hsl(5, 100%, 90.6%);}
    &.endsofworkinghours { background: hsl(41.7, 85.2%, 84.1%);}
    &.hover {
      background: hsl(202.3, 100%, 76.3%);
    }
  }

  tr { display: grid; grid-template-columns: repeat(9, minmax(3ch, 1fr)); }
  th.zone-name { grid-column: 1/10; margin-top:1rem; }
  td.my-antisocial { display: none; }

  .date-settings {
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    gap: 1rem;
  }
  .date-view {
    flex: 0 0 auto;
  }
  .date-view-note {
    font-size: 0.825rem; opacity: 0.7;
  }
  .date-view-date {
    font-size: 1.4rem;
    color: var(--primary-text);
  }
  .date-edit {
    flex: 1 1 auto;
    background: #fafafb;
    padding: 0.5rem;

    label {
      display: block;
      margin-bottom: 0.5rem;
      font-size: 0.825rem;
      opacity: 0.7;
    }
  }

  @media screen and (min-width: 600px) {
    .my-antisocial { display: table-cell; }

    tr { display: table-row; }
    .timezone-app {
      margin: 2rem auto;
      padding: 2rem;
      max-width: 140ch;
    }
    th.zone-name {
      width: 20%;
    }
    td.time {
      width: 3.3333%;
      display: table-cell;
    }
  }

  </style>

<div class="timezone-app">
  <h1>Timezones</h1>

  <table class="timezones">
    <tbody>
    {#each zones as zone}
      <tr class:default-zone={zone.timeZone === myZone}>
        <th class="zone-name" on:click={e => setMyZone(zone.timeZone)}>{zone.name}</th>
        {#each hours as hour}
          <td
            class="time"
            class:new-day={zone.times[hour].different}
            class:antisocial={zone.times[hour].antisocial}
            class:endsofworkinghours={zone.times[hour].endsofworkinghours}
            class:yesterday={zone.times[hour].yesterday}
            class:tomorrow={zone.times[hour].tomorrow}
            class:my-antisocial={important[hour]}
            class:hover={hour === hoveredHour}
            class:selected={selected[hour] ?? false}
            on:mouseover={e => hover(hour)}
            on:focus={e => hover(hour)}
            on:mouseout={e => hoverNot()}
            on:blur={e => hoverNot()}
            on:click={e => toggleSelected(hour)}
            title="{zone.times[hour].day} {zone.times[hour].date}"
          >
            {zone.times[hour].time}
          </td>
        {/each}
      </tr>
    {/each}
    </tbody>
  </table>

  <div class="date-settings">
    <div class="date-edit">
      <label for="the-date">Set UTC date to consider daylight saving.</label>
      <input id="the-date" on:change={updateDate} bind:value={utcDateInputValue} type=date /> 
    </div>
    <div class="date-view">
      <div class="date-view-note">Date in your browser’s timezone for the UTC date selected</div>
      <div class="date-view-date">{now.toLocaleString(undefined, {dateStyle: 'full'})}</div>
    </div>
  </div>

</div>

