<script>

  import './artfulrobot-date.js';
  import { specified } from './stores.js';
  import { onMount, tick } from 'svelte';
  import TimezoneView from './TimezoneView.svelte';
  import Select from 'svelte-select';

  let selectedTimeZones = ['Europe/London'];
  let selectedDate = '2022-08-01';
  let selectedTime = '09:00';
  let mounted = false;
  let supportedTimeZones = Intl.supportedValuesOf('timeZone');
  let newTimeZone = '';
  let stats = { earliest: null, latest: null };
  let orderedTimeZones = [];
  let title = 'Timezones';
  let titleEdit = '';
  let titleEditInput;

  $: addableTimeZones = supportedTimeZones.filter(timeZone => !selectedTimeZones.includes(timeZone));
  $: primaryTimeZone = selectedTimeZones[0]; 
  $: startDateObj = Date.newDateFromISOAndTimeZone(`${selectedDate}T${selectedTime}:00`, primaryTimeZone); 
  $: updateWindowLocation(selectedTimeZones, selectedDate, selectedTime);
  $: updateStats(selectedTimeZones, selectedDate, selectedTime);

  // @todo arrange selected timezones by offset in view.
  // @todo fix Los_Angeles
  // @todo allow setting times
  // @todo allow setting dates
  // @todo allow setting primary timezone

  // Boot.
  onMount(() => {
    console.log('onMount');
    // @todo add a configurable title and names for timezones.
    let m = window.location.hash.match(/#(\d{4}-\d{2}-\d{2})\|(\d{2}:\d{2})\|([A-Za-z/_,]+)\|(.*?)$/);
    if (m) {
      // Got stuff to parse.
      console.log("PARSED", m);
      selectedDate = m[1];
      selectedTime = m[2];
      console.log(m[3].split(','));
      selectedTimeZones = m[3].split(',').filter(c => supportedTimeZones.indexOf(c) > -1);
      title = decodeURIComponent(m[4] || 'Timezones');
    }
    else {
      // Use defaults: now.
      selectedTimeZones = [(Date.getBrowserTimeZone())];
      let d = new Date();
      let iso = d.toISOStringForTimeZone();
      selectedDate = iso.substr(0, 10);
      selectedTime = iso.substr(11, 5);
      console.log("x", {selectedTimeZones, selectedDate, selectedTime});
      title = 'Timezones';
    }
    mounted = true;
  });

  function titleStartEdit(e) {
    titleEdit = title;
    tick().then(() => {
      titleEditInput.focus();
    })
  }
  function handleTitleKeyDown(e) {
    if (['Enter', 'Escape'].includes(e.key)) {
      if (e.key === 'Enter') {
        title = titleEdit;
        updateWindowLocation();
        e.preventDefault();
        e.stopPropagation();
      }
      titleEdit = '';
    }
  }

  function removeTimeZone(timeZone) {
    if (selectedTimeZones.length > 1) {
      selectedTimeZones = selectedTimeZones.filter(t => t !== timeZone);
    }
  }

  function updateWindowLocation() {
    if (!mounted) return;
    console.log('updateWindowLocation');
    let hash = `#${selectedDate}|${selectedTime}|${selectedTimeZones.join(',')}|${encodeURIComponent(title)}`;
    window.location.hash = hash;
  }

  function updateStats() {
    if (!mounted) return;
    let o = selectedTimeZones.map(timeZone => {
      return {
        timeZone,
        offset: startDateObj.getUTCOffsetString(timeZone),
        dateAndHour: startDateObj.toISOStringForTimeZone(timeZone).substr(0, 13)
      };
    });
    stats.earliest = o[0].dateAndHour.substr(0,10) + 'T00:00:00';
    stats.latest = o[0].dateAndHour.substr(0,10) + 'T23:00:00';
    stats.primaryTimeZone = primaryTimeZone;

    o.sort((a, b) => {
      if (a.dateAndHour < b.dateAndHour) return -1;
      if (a.dateAndHour > b.dateAndHour) return 1;
      return 0;
    });
    console.log({o, stats});
    orderedTimeZones = o;
  }
  function handleSetSelection(e) {
    console.log(e.detail);
    if (e.detail.time) selectedTime = e.detail.time;
    selectedDate = e.detail.date;
    let newTimeZone = e.detail.timeZone;
    if (newTimeZone !== primaryTimeZone) {
      selectedTimeZones = [newTimeZone, ... selectedTimeZones.filter(timeZone => timeZone != newTimeZone)];
    }
  }
</script>

  {#if !titleEdit}<h1 on:click={titleStartEdit}>{title}</h1>
  {:else}
    <input class="title-edit" bind:value={titleEdit} on:keydown={handleTitleKeyDown} bind:this={titleEditInput} />
  {/if}

  {#each orderedTimeZones as row (row.timeZone) }
    <TimezoneView timeZone={row.timeZone} {startDateObj}
      on:close={removeTimeZone(row.timeZone)}
      isPrimary={row.timeZone === primaryTimeZone}
      {stats}
      on:setSelection={handleSetSelection}
    />
  {/each}

  <label for=newTimeZone >Add timezone</label>
  <Select id=newTimeZone items={addableTimeZones} on:select={e => { selectedTimeZones = [...selectedTimeZones, e.detail.value ]; newTimeZone = '';}} bind:value={newTimeZone} />
<style lang=scss>
  :root {
    --primary: #0284ea;
    --primary-dark: #02477d;
  }
  .title-edit {
    font-size: 2rem;
    border: none;
    width: 100%;
  margin: 1rem 0;
  }
</style>
