<script>
  import { createEventDispatcher } from 'svelte';
  export let stats;
  export let timeZone;
  export let startDateObj;

  // Create a continuum from stats.earliest to stats.latest

	const dispatch = createEventDispatcher();
  let range = [], dateSpans = [];

  function updateRange() {
    // Show the full day for the primary timezone

    let d = Date.newDateFromISOAndTimeZone(stats.earliest, stats.primaryTimeZone);

    let selectedHour = startDateObj.toISOStringForTimeZone(timeZone).substr(0, 13);
    range = [];
    let dateSpansMap = new Map();
    let span = 1;
    for (let i=0; i<24; i++) {
      // In this timezone...
      let hour = d.toLocaleTimeString(undefined, {hour: 'numeric', timeZone});
      let datetime = d.toISOStringForTimeZone(timeZone);
      let date = datetime.substr(0, 10);
      let humanDate = d.toLocaleDateString(undefined, {dateStyle: 'long', timeZone});
      let humanDateShort = d.toLocaleDateString(undefined, {day:'numeric', month:'short', timeZone});
      let hourNumeric = parseInt(datetime.substr(11, 2));
      let isNewDate = (range.length === 0 || range[range.length-1].date !== date);
      if (dateSpansMap.has(humanDate)) {
        let o = dateSpansMap.get(humanDate);
        o.count++;
        dateSpansMap.set(humanDate, o);
      }
      else {
        dateSpansMap.set(humanDate, {count: 1, humanDateShort});
      }

      range.push({
        hour,
        date,
        datetime,
        hourNumeric,
        selected: datetime.substr(0, 13) === selectedHour,
        isNewDate,
        antisocial: (hourNumeric < 8 || hourNumeric > 18),
      });
      d.setHours(d.getHours() + 1);
    }
    dateSpans = [];
    let c = 1;
    dateSpansMap.forEach((value, key) => {
      let label = (value.count > 2) ? key : value.humanDateShort;
      dateSpans.push({ date: label, colStart: c, span: value.count });
      c += value.count;
    });
  }

  $: updateRange(stats, timeZone);

  function handleClick(hour) {
    dispatch('setSelection', {
      timeZone, date: hour.date, time: hour.datetime.substr(11, 2) + ':00'
    }); 
  }
</script>
<div class="continuum">
  {#each range as hour, i}
    <span title="{hour.date} {hour.hour}"
      class="hour"
      class:selected={hour.selected}
      class:antisocial={hour.antisocial}
      class:newdate={hour.isNewDate}
      style="grid-column: {i+1}"
      xon:mouseenter="handleMouseEnter(hour)"
      xon:mouseleave="handleMouseLeave(hour)"
      on:click={handleClick(hour)}
    >{hour.hour}</span>
  {/each}
  {#each dateSpans as dateSpan}
    <span style="grid-column: {dateSpan.colStart} / span {dateSpan.span}" class="datespan">{dateSpan.date}</span>
  {/each}
</div>
  <style lang=scss>
  .continuum {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
  }
  span.datespan {
    padding: 0 0.5ch;
    text-align: left;
    border-left: solid 1px #aaa;
    color: #888;
  }
  span.hour {
    padding: 0.25ch 0.5ch;
    text-align: center;
    cursor: pointer;
    &:hover { color: var(--primary-dark); }
    &.antisocial {
      background: #f0ece8;
    }
    &.selected {
      background: var(--primary);
      color: white;
    }
    &.newdate {
      border-left: solid 1px #aaa;
    }
  }
</style>

