<script>
  import { specified } from './stores.js';
  import Hour from './Hour.svelte';

  export let
    timeZone,
    name
  ;
</script>

<div class="zone">
  {timeZone} {name}
  {#each [...Array(24).keys()] as utcHour}
    <Hour utcHour={utcHour} />
  {/each}
</div>
