<script>
  import { createEventDispatcher } from 'svelte';
  export let timeZone = 'Europe/London';
  export let startDateObj;
  export let isPrimary = true;
  export let stats;
  import Continuum from './Continuum.svelte';
  
	const dispatch = createEventDispatcher();
	let editingDate = false;
	let newDate = null;

  $: formatted = startDateObj.toLocaleString(undefined, { dateStyle: 'full', timeStyle: 'full', timeZone});
  $: formattedDate = startDateObj.toLocaleDateString(undefined, { dateStyle: 'medium', timeZone});
  $: formattedDayname = startDateObj.toLocaleString(undefined, { weekday: 'long', timeZone});
  $: formattedTime = startDateObj.toLocaleTimeString(undefined, { timeStyle: 'short', timeZone, hour12: true});

  function beginChangeDate() {
    newDate = startDateObj.toISOString().substr(0, 10);
    editingDate = true;
  }
  function cancelSetting() {
    editingDate = false;
  }
  function setDate() {
    editingDate = false;
    dispatch('setSelection', {
      timeZone, date: newDate 
    }); 
  }
  function handleClose(e) {
    dispatch('close'); 
  }
</script>
  <div class="timezoneview" class:primary={isPrimary}>
    <h2>{timeZone.replace('_', ' ')}</h2>
    <div class="time">
      <div class="time-time">{formattedTime}</div>
      {#if editingDate}
        <div class="date-edit" >
          <input bind:value={newDate} type=date>
          <button on:click|preventDefault={cancelSetting} >Cancel</button>
          <button on:click|preventDefault={setDate} >OK</button>
        </div>
      {:else}
        <div class="date"
          on:click={beginChangeDate}>
        <span class="weekday">{formattedDayname}</span>
        <span class="date-date">{formattedDate}</span></div>
      {/if}
    </div>
    <div class="close"><button on:click|preventDefault={handleClose} title="Remove this timezone">×</button></div>
    <div class="continuum"><Continuum on:setSelection {stats} {timeZone} {startDateObj}/></div>
  </div>

  <style lang=scss>
  .timezoneview {
    background: white;
    padding: 1rem;
    border-radius: 3px;
    margin: 1rem 0;
    display: grid;
    gap: 1rem;
    grid-template-columns: 15ch 1fr 2.1rem;

    &.primary {
      color: var(--primary);
    }
  }
  h2 {
    grid-column: 2;
    grid-row: 1;
    margin: 0;
    font-size:2rem;
  }
  .time {
    text-align: center;
    grid-column:1;
    grid-row:1/3;
    font-size:2rem;
    font-weight:bold;
  }
  .date {
    font-size: 1.2rem;
    .weekday {
      display:block;
    }
  }
  .close {
    grid-column: 3;
    grid-row: 1;
    button {
      border: none;
      background: #e8e8e8;
      color: white;
      font-weight: bold;
      line-height: 1;
      font-size: 1.5rem;
      text-align: center;
      border-radius: 2rem;
      width: 2rem;
      height: 2rem;
      &:hover {
        background: #f89090;
      }
    }
  }
  .continuum {
    grid-column: 2/4;
    grid-row: 2;
  }

  @media screen and (max-width: 600px) {
    .timezoneview {
      padding: 0.5rem;
      grid-template-columns: 1fr 2.1rem;
    } 
    h2 {
      font-size: 1.4rem;
      grid-column:1;
    }
    .time {
      font-size: 1.4rem;
      grid-column:1 / span 2;
      grid-row: 2;
    }
    .date .weekday {
      display:inline;
    }
    .close {
      grid-column: 2;
    }
    .continuum {
      grid-column:1 / span 2;
      grid-row: 3;
      overflow:auto;
      padding-bottom:1rem;
    }
  }
</style>
